<!DOCTYPE html>
<html>

<head>
    <title>Reactjs</title>
    
    <base href="/">
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script src="lib/browser.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script crossorigin src="lib/jquery-3.4.1.min.js"></script>

</head>

<body>
    <div id="root"></div>
    <script type="text/babel" src="js/baitap.js">
       
    
    </script>
</body>

</html>