<!DOCTYPE html>
<html>

<head>
    <title>Reactjs</title>
    
    <base href="/">
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script src="lib/browser.min.js"></script>
    <link  rel="stylesheet" href="css/style.css" >

</head>

<body>
        <h1>Bài 1: Click vào nút sẽ +1</h1>
    <div id="root"></div>
    
    <script type="text/babel" src="js/xuly.js">
    </script>
    <h1>-----------------------------------------------------</h1>
    <h1>Bài 2: click vào ảnh làm chuyển sang ảnh khác</h1>
     <div id="root2"></div>

    <script type="text/babel"  src="js/xuly2.js">
    </script>
</body>

</html>