.header{
    margin-top: 5px;
   
    height:80px;
    position: absolute;
    width: 100%;
    clear: both;
}
.header .logo{
    float: left;   
    width: 15%;
    font-family:Georgia, 'Times New Roman', Times, serif,impact;
    color: aliceblue;
    font-size: 13px;
    text-align:center;

}
.header .search{
    float: left;
    
    width: 40%;
   height: 80px; 
    white-space: nowrap;
  
  }
  .header .search input#search{
    margin: 5px 10px;
    width: 400px;
    height: 50px;
    background: #f8f8f8;
    border: none;
    font-size: 10pt;
    float: left;
    color: black;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;

  }
  .header .search .icon{
       padding: 20px;
      font-size: 20px; 
    float: left;
   padding-left: -300px;
    z-index: 1;
    color: black;
    position: absolute;
  }
.header .nav{
    float: left;
    width: 40%;
   
    text-align: center; 
   
    padding: 25px 15px; 
}
    .nav >a{
        font-size: 20px;
        color: aliceblue;
        text-align: center;
        margin: 10px 5px;
        padding: 10px 12px;
       text-decoration: none;
        
    }
    .nav >a:hover{
        background-color:antiquewhite;
    }
.b{

position:absolute;
height: 100%;
width: 100%;
background-image: url(../image/music-792-tablet.jpg);
background-size: 100%;
background-repeat: no-repeat;
}
.c{

    background-image: url(../image/music-792-tablet.jpg);
    
    background-repeat: no-repeat;
    width: 80%;
    position: absolute;
    margin-top: 70px;
    height: 100%;
    background-size: 100%;
}
.c >p{
    text-align: left;
    
    font-size: 50px;
    color: #f8f8f8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0.8;
    margin-top: 150px;
    margin-left: 150px;
    
 
}
.form{
    position: absolute;
    width: 30%;
    height: 300px;
    border:3px solid red;
    margin: 25%;
}
.clear{
    clear: both;
}