
<html>
        <head>
        <!-- <link rel='stylesheet' type="text/css" href='../public/css/style.css'/> -->
            <title>Web Express</title>
            <link rel='stylesheet' href='../css/styles.css'/>
            <base href="/">
        </head>
        <body>
            <h1>Hello uan <%-name%> </h1>
            <a href="/sanpham">Users</a>

        </body>
    </html>