
<html>
    <head>
   
        <title>Web Expresssss</title>
        <link rel='stylesheet' href='../css/styles.css'/>
     
        <base href="/">
    </head>
    <body>
          
        <h3 class="h3">Chi tiết sản phẩm</h3>
       
        <div class="chitiet">
            <div class="image">
                <img src=" <%=product.image %>">
            </div>
            <div class="text">
               <p><%=product.name %></p>
               <p><%=product.price %></p>
               <h4> <%=product.descript %></h4>
            </div>
        </div>
   
  
        
    </body>
</html>

