
<html>
    <head>
   
        <title>Web Expresssss</title>
        <link rel='stylesheet' href='../css/styles.css'/>
     
        <base href="/">
    </head>
    <body>
          
        <h3 class="h3">Show sản phẩm</h3>
        <a href="">
        <div class="noidung">
            
            <% product.forEach(function(users){ %>
             <a href="/sanpham/<%= users._id %>">   <div class="content"><img src=" <%=users.image %>"></a>  
                    <p><%= users.name %><Br> <%= users.price %></p></div>
                
                <%   }) %>
               
        </div>
    </a>

        
    </body>
</html>

