
<html>

<head>
    <title>
        Express Web
    </title>   
    <link rel='stylesheet'  href='../css/styles.css'/>
    <base href="/">
</head>

<body>
  

    <h1>Chi tiết sản phẩm</h1>
    <% chitiet_sanpham.forEach(function(users){ %>
    <h1><%= users.price %> <%= users.name %></h1>
    <%   }) %>
<style>
  
</style>

  

</body>

</html>