<!DOCTYPE html>
<html>

<head>
    <title>Reactjs</title>
    
    <base href="/">
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script src="lib/browser.min.js"></script>

</head>

<body>
    <div id="root"></div>
    <script type="text/babel">
        ReactDOM.render(<h1>Uan</h1>, document.getElementById("root"));
    
    </script>
</body>

</html>